@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Inter', sans-serif;
}

@layer base {
  :root {
    --background: 200 13% 90%;
    --foreground: 202 46% 15%;
    --card: 0 0% 100%;
    --card-foreground: 202 46% 15%;
    --popover: 0 0% 100%;
    --popover-foreground: 202 46% 15%;
    --primary: 202 46% 37%;
    --primary-foreground: 0 0% 98%;
    --secondary: 200 10% 95%;
    --secondary-foreground: 202 46% 15%;
    --muted: 200 10% 95%;
    --muted-foreground: 200 10% 55%;
    --accent: 27 79% 54%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 200 10% 80%;
    --input: 200 10% 80%;
    --ring: 27 79% 54%;
    --chart-1: 202 46% 37%;
    --chart-2: 27 79% 54%;
    --chart-3: 202 30% 50%;
    --chart-4: 27 60% 70%;
    --chart-5: 202 20% 60%;
    --radius: 0.5rem;
    --sidebar-background: 202 46% 12%;
    --sidebar-foreground: 200 13% 85%;
    --sidebar-primary: 202 46% 37%;
    --sidebar-primary-foreground: 0 0% 98%;
    --sidebar-accent: 27 79% 54%;
    --sidebar-accent-foreground: 0 0% 98%;
    --sidebar-border: 202 46% 20%;
    --sidebar-ring: 27 79% 54%;
  }
  .dark {
    --background: 202 20% 12%;
    --foreground: 200 13% 90%;
    --card: 202 20% 15%;
    --card-foreground: 200 13% 90%;
    --popover: 202 20% 12%;
    --popover-foreground: 200 13% 90%;
    --primary: 200 13% 80%;
    --primary-foreground: 202 46% 15%;
    --secondary: 202 20% 20%;
    --secondary-foreground: 200 13% 90%;
    --muted: 202 20% 20%;
    --muted-foreground: 200 13% 60%;
    --accent: 27 79% 54%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 202 20% 25%;
    --input: 202 20% 25%;
    --ring: 27 79% 54%;
    --chart-1: 200 13% 80%;
    --chart-2: 27 79% 54%;
    --chart-3: 200 13% 60%;
    --chart-4: 27 70% 70%;
    --chart-5: 200 13% 50%;
    --sidebar-background: 202 20% 10%;
    --sidebar-foreground: 200 13% 85%;
    --sidebar-primary: 200 13% 80%;
    --sidebar-primary-foreground: 202 46% 15%;
    --sidebar-accent: 27 79% 54%;
    --sidebar-accent-foreground: 0 0% 98%;
    --sidebar-border: 202 20% 20%;
    --sidebar-ring: 27 79% 54%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}